.legend {
  position: absolute;
  top: 1vh;
  right: 0.1vw;
  height: 40vh;
  max-width: 30vh;
  border: 5px solid #00dec6;
  border-radius: 25px;
  background-color: #041326;
}

.legendTitle {
  display: flex;
  justify-content: center;
  font-family: "Monaco", "Monaco", monospace;
  font-weight: bold;
  color: #00dec6;
  padding: 10px;
  border-bottom: 2px solid #00dec6;
  margin-bottom: 10px;

}

.legendRow {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.legendValue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  font-family: "Monaco", "Monaco", monospace;
  color: #00dec6;
}
