.popup {
  min-width: 200px;
}

.metric-row {
  align-items: center;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  padding-right: 4px 12px;
}

.row-title {
  align-items: center;
  background-color: #00dec6;
  border: 1px solid #4094ae;
  border-radius: 16px;
  color: black;
  font-weight: normal;
  justify-content: center;
  margin: 0;
  padding: 4px 12px;
  text-align: center;
}

.row-value {
  color: black;
  font-size: 0.875rem;
  padding-right: 16px;
  text-align: right;
}
